## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nemuro,JP,2021-11-07 06:38:25,43.3236,145.5750,46.83,83,100,18.03,light rain
1,1,Narsaq,GL,2021-11-07 06:38:45,60.9167,-46.0500,34.02,67,100,10.20,overcast clouds
2,2,Port Alfred,ZA,2021-11-07 06:38:06,-33.5906,26.8910,63.32,91,100,12.75,light rain
3,3,Atuona,PF,2021-11-07 06:37:43,-9.8000,-139.0333,78.30,70,0,16.49,clear sky
4,4,Kavieng,PG,2021-11-07 06:39:48,-2.5744,150.7967,83.80,76,10,13.96,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Atuona,PF,2021-11-07 06:37:43,-9.8000,-139.0333,78.30,70,0,16.49,clear sky
4,4,Kavieng,PG,2021-11-07 06:39:48,-2.5744,150.7967,83.80,76,10,13.96,light rain
12,12,Vaini,TO,2021-11-07 06:37:29,-21.2000,-175.2000,78.96,94,75,6.91,broken clouds
15,15,Harper,LR,2021-11-07 06:38:35,4.3750,-7.7169,77.79,86,100,2.89,overcast clouds
29,29,Sur,OM,2021-11-07 06:40:51,22.5667,59.5289,84.43,34,0,7.49,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
678,678,Byron Bay,AU,2021-11-07 06:48:35,-28.6500,153.6167,80.71,77,94,16.28,overcast clouds
680,680,Sao Jose Da Coroa Grande,BR,2021-11-07 06:39:34,-8.8978,-35.1478,77.59,85,23,10.49,few clouds
688,688,Opuwo,NaN,2021-11-07 06:48:38,-18.0607,13.8400,79.52,22,100,4.23,overcast clouds
701,701,Mecca,SA,2021-11-07 06:46:59,21.4267,39.8261,86.49,33,0,3.67,clear sky
709,709,Bulawayo,ZW,2021-11-07 06:48:44,-20.1500,28.5833,87.15,22,34,10.87,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Atuona,PF,2021-11-07 06:37:43,-9.8000,-139.0333,78.30,70,0,16.49,clear sky
4,4,Kavieng,PG,2021-11-07 06:39:48,-2.5744,150.7967,83.80,76,10,13.96,light rain
12,12,Vaini,TO,2021-11-07 06:37:29,-21.2000,-175.2000,78.96,94,75,6.91,broken clouds
15,15,Harper,LR,2021-11-07 06:38:35,4.3750,-7.7169,77.79,86,100,2.89,overcast clouds
29,29,Sur,OM,2021-11-07 06:40:51,22.5667,59.5289,84.43,34,0,7.49,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
674,674,Tubuala,PA,2021-11-07 06:48:34,9.5167,-79.0333,78.33,81,100,4.41,overcast clouds
678,678,Byron Bay,AU,2021-11-07 06:48:35,-28.6500,153.6167,80.71,77,94,16.28,overcast clouds
680,680,Sao Jose Da Coroa Grande,BR,2021-11-07 06:39:34,-8.8978,-35.1478,77.59,85,23,10.49,few clouds
701,701,Mecca,SA,2021-11-07 06:46:59,21.4267,39.8261,86.49,33,0,3.67,clear sky
709,709,Bulawayo,ZW,2021-11-07 06:48:44,-20.1500,28.5833,87.15,22,34,10.87,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Atuona,PF,78.30,clear sky,-9.8000,-139.0333,
4,Kavieng,PG,83.80,light rain,-2.5744,150.7967,
12,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
15,Harper,LR,77.79,overcast clouds,4.3750,-7.7169,
29,Sur,OM,84.43,clear sky,22.5667,59.5289,
30,Dakar,SN,80.73,clear sky,14.6937,-17.4441,
36,Yashan,CN,86.79,broken clouds,22.1975,109.9419,
38,Rikitea,PF,75.45,overcast clouds,-23.1203,-134.9692,
39,Hambantota,LK,79.14,scattered clouds,6.1241,81.1185,
44,Saint-Philippe,RE,82.22,scattered clouds,-21.3585,55.7679,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")
hotel_df.head(10)

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Atuona,PF,78.30,clear sky,-9.8000,-139.0333,Villa Enata
4,Kavieng,PG,83.80,light rain,-2.5744,150.7967,Nusa Island Retreat
12,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
15,Harper,LR,77.79,overcast clouds,4.3750,-7.7169,Screensaver
29,Sur,OM,84.43,clear sky,22.5667,59.5289,Sur Plaza Hotel
30,Dakar,SN,80.73,clear sky,14.6937,-17.4441,Redface Studios Meublés
36,Yashan,CN,86.79,broken clouds,22.1975,109.9419,
38,Rikitea,PF,75.45,overcast clouds,-23.1203,-134.9692,People ThankYou
39,Hambantota,LK,79.14,scattered clouds,6.1241,81.1185,Bungalow 63
44,Saint-Philippe,RE,82.22,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [9]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Atuona,PF,78.30,clear sky,-9.8000,-139.0333,Villa Enata
4,Kavieng,PG,83.80,light rain,-2.5744,150.7967,Nusa Island Retreat
12,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
15,Harper,LR,77.79,overcast clouds,4.3750,-7.7169,Screensaver
29,Sur,OM,84.43,clear sky,22.5667,59.5289,Sur Plaza Hotel
...,...,...,...,...,...,...,...
674,Tubuala,PA,78.33,overcast clouds,9.5167,-79.0333,Río Nabagana
678,Byron Bay,AU,80.71,overcast clouds,-28.6500,153.6167,Backpackers Inn on the Beach
680,Sao Jose Da Coroa Grande,BR,77.59,few clouds,-8.8978,-35.1478,Crôa Mares Hotel
701,Mecca,SA,86.49,clear sky,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
709,Bulawayo,ZW,87.15,scattered clouds,-20.1500,28.5833,4 On Housman Backpackers

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))